@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;

}

body > * {
    min-width: 60vw;
}

header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 200px;
    height: 515px;    
}

header h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

header p,
header a {
    font-size: 18px;
    color: #E5E7EB;
}

header .logo {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
}

header .header-top {
    display: flex;
    justify-content: space-between;
    margin: auto;
    min-width: 60vw;   
}

header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

header ul li a {
    text-decoration: none;
    padding: 0 15px;
}

header .header-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    flex: 1;
    gap: 60px;
    min-width: 60vw;
    
}
header .header-main {
    flex-wrap: wrap;
    flex: 1;
    max-width: 600px;
}

header .img-placeholder {
    height: 250px;
    max-width: 600px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    
}

header button {
    background-color: #3882F6;
    padding: 8px 35px;
    margin: 10px;
    border-radius: 8px;
    color: #E5E7EB;
    border: none;
    font-weight: bolder;
    font-size: 17px;
}

main .section-one,
main .section-two,
main .section-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 200px;
    height: 470px;
}

main .section-one h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 50px;
}

main .section-one > .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.grid {
    display: flex;
    flex-direction: column;
    gap: 15px

}

div.grid-img {
    border: 5px solid #3882F6;
    width: 160px;
    height: 160px;
    border-radius: 15px;
    margin: 0 25px;
}

div.grid p {
    text-align: center;
    width: 160px;
    margin: 0 25px;

}

section.section-two {
    background-color: #E5E7EB;
    height: fit-content;
    padding: 110px 300px;
    display: flex;
    align-items: center;
}

section.section-two > blockquote {
    min-width: 50vw;
    
}

section.section-two > blockquote > p.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937; 
    min-width: 50vw;
    max-width: 60vw;
}

section.section-two > blockquote > p.reference {
    font-size: 22px;
    font-weight: bold;
    text-align: right;
}

section.section-three {
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 100px 200px;
    min-width: 50vw;
    color: white;
    
}

section.section-three div.action {
    background-color: #3882F6;
    width: 60vw;
    min-width: 750px;
    border-radius: 10px;
    padding: 50px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.section-three div button {
    font-weight: bold;
    background-color: inherit;
    height: fit-content;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 25px;    
}

footer {
    background: black;
    color: #E5E7EB;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
